.example-card{
    background-color: aquamarine;
    width: 200;
    height: 140;
    max-width: 400 px;
}

.label{
    align-self: center;
}
.section{
    align-self: center;
}
.button{
    align-self: center;
}
.mat-grid-tile{
    width: 1500;
    height: 1050;
}