.example-card{
    background-color: aquamarine;
    width: 300;
    height: 180;
    max-width: 800 px;
}

.label{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.section{
    display: flex;
    flex-direction: column;
    justify-self: center;

}
.button{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.example-form-filed{
    background-color: blueviolet;
}
html{
    background-color: lightblue;
}
body{
    

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-wrapper{
    margin: auto 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    margin: auto 35%;
}