/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p{color: black;}
mat-grid-tile{
    width: 1500;
    height: 1050;
}